:root {
  /* Backgrounds */
  --clr-main-bg-one: hsl(222, 26%, 31%);
  --clr-keypad-bg-one: hsl(223, 31%, 20%);
  --clr-screen-bg-one: hsl(224, 36%, 15%);
  /*  Keys */
  --clr-key-bg-one: hsl(225, 21%, 49%);
  --clr-key-shadow-one: hsl(224, 28%, 35%);
  --clr-key-bg-red-one: hsl(6, 63%, 50%);
  --clr-key-shadow-red-one: hsl(6, 70%, 34%);
  --clr-key-bg-grayish-one: hsl(30, 25%, 89%);
  --clr-key-shadow-grayish-one: hsl(28, 16%, 65%);
  /* Text */
  --clr-key-txt-one: hsl(221, 14%, 31%);
  --clr-white-txt-one: hsl(0, 0%, 100%);
  /* two */
  /*  Backgrounds */
  --clr-main-bg-2: hsl(0, 0%, 90%);
  --clr-keypad-bg-2: hsl(0, 5%, 81%);
  --clr-screen-bg-2: hsl(0, 0%, 93%);
  /*  Keys */
  --clr-key-bg-2: hsl(185, 42%, 37%);
  --clr-key-shadow-2: hsl(185, 58%, 25%);
  --clr-key-bg-orange-2: hsl(25, 98%, 40%);
  --clr-key-shadow-orange-2: hsl(25, 99%, 27%);
  --clr-key-bg-grayish-2: hsl(45, 7%, 89%);
  --clr-key-shadow-grayish-2: hsl(35, 11%, 61%);
  /* Text */
  --clr-key-txt-2: hsl(60, 10%, 19%);
  --clr-white-txt-2: hsl(0, 0%, 100%);
  /* three */
  /*  Backgrounds */
  --clr-main-bg-three: hsl(268, 75%, 9%);
  --clr-key-screen-bg-three: hsl(268, 71%, 12%);
  /*  Keys */
  --clr-key-bg-three: hsl(281, 89%, 26%);
  --clr-key-shadow-three: hsl(285, 91%, 52%);
  --clr-key-bg-cyan-three: hsl(176, 100%, 44%);
  --clr-key-shadow-cyan-three: hsl(177, 92%, 70%);
  --clr-key-bg-violet-three: hsl(268, 47%, 21%);
  --clr-key-shadow-violet-three: hsl(290, 70%, 36%);
  /*  Text */
  --clr-key-txt-three: hsl(52, 100%, 62%);
  --clr-blue-txt: hsl(198, 20%, 13%);
  --clr-white-txt-three: hsl(0, 0%, 100%);
}

.one {
  /* Backgrounds */
  --clr-main-bg: hsl(222, 26%, 31%);
  --clr-keypad-bg: hsl(223, 31%, 20%);
  --clr-screen-bg: hsl(224, 36%, 15%);
  /*  Keys */
  --clr-key-bg: hsl(225, 21%, 49%);
  --clr-key-shadow: hsl(224, 28%, 35%);
  --clr-key-bg-red: hsl(6, 63%, 50%);
  --clr-key-shadow-red: hsl(6, 70%, 34%);
  --clr-key-bg-grayish: hsl(30, 25%, 89%);
  --clr-key-shadow-grayish: hsl(28, 16%, 65%);
  /* Text */
  --clr-key-txt: hsl(221, 14%, 31%);
  --clr-white-txt: hsl(0, 0%, 100%);
}

.two {
  /* Backgrounds */
  --clr-main-bg: var(--clr-main-bg-2);
  --clr-keypad-bg: var(--clr-keypad-bg-2);
  --clr-screen-bg: var(--clr-screen-bg-2);
  /*  Keys */
  --clr-key-bg: var(--clr-key-bg-2);
  --clr-key-shadow: var(--clr-key-shadow-2);
  --clr-key-bg-red: var(--clr-key-bg-orange-2);
  --clr-key-shadow-red: var(--clr-key-shadow-orange-2);
  --clr-key-bg-grayish: var(--clr-key-bg-grayish-2);
  --clr-key-shadow-grayish: var(--clr-key-shadow-grayish-2);
  /* Text */
  --clr-key-txt: var(--clr-key-txt-2);
  --clr-white-txt: var(--clr-white-txt-2);
}

.three {
  /* Backgrounds */
  --clr-main-bg: var(--clr-main-bg-three);
  --clr-keypad-bg: var(--clr-key-screen-bg-three);
  --clr-screen-bg: var(--clr-key-screen-bg-three);
  /*  Keys */
  --clr-key-bg: var(--clr-key-bg-three);
  --clr-key-shadow: var(--clr-key-shadow-three);
  --clr-key-bg-red: var(--clr-key-bg-cyan-three);
  --clr-key-shadow-red: var(--clr-key-shadow-cyan-three);
  --clr-key-bg-grayish: var(--clr-key-bg-violet-three);
  --clr-key-shadow-grayish: var(--clr-key-shadow-violet-three);
  /* Text */
  --clr-key-txt: var(--clr-key-txt-three);
  --clr-white-txt: var(--clr-white-txt-three);
  --dark-blue: var(--clr-blue-txt);
}

* {
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--clr-main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  padding: 1.4rem;
}
.calculator .top {
  display: flex;
  justify-content: space-between;
  color: var(--clr-white-txt);
}
.calculator .top .theme {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.calculator .top .theme .header {
  display: flex;
  gap: 17px;
  margin-bottom: 5px;
}
.calculator .top .theme .btns {
  background-color: var(--clr-keypad-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 3px;
  border-radius: 15px;
}
.calculator .top .theme .btns input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(69, 97, 255, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}
.calculator .top .theme .btns input[type=radio]:checked {
  background-color: var(--clr-key-bg-red);
  border-color: var(--clr-key-bg-red);
}
.calculator form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.calculator form .display input {
  text-align: right;
  flex: 1;
  font-size: 32px;
  box-shadow: none;
  border: none;
  background: var(--clr-screen-bg);
  color: var(--clr-white-txt);
  border-radius: 0.5rem;
  height: 60px;
}
.calculator form .keypad-bg {
  background: var(--clr-keypad-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.calculator form .keypad-bg input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px var(--clr-key-shadow-grayish);
  background: var(--clr-key-bg-grayish);
  font-size: 32px;
  color: var(--clr-key-txt);
  cursor: pointer;
  margin: 6px;
}
.calculator form .keypad-bg .wide {
  width: 135px;
  color: var(--clr-white-txt);
}
.calculator form .keypad-bg .red {
  background: var(--clr-key-bg-red);
  box-shadow: 0px 4px 0px var(--clr-key-shadow-red);
}
.calculator form .keypad-bg .gray {
  color: var(--clr-white-txt);
  background: var(--clr-key-bg);
  box-shadow: 0px 4px 0px var(--clr-key-shadow);
}/*# sourceMappingURL=style.css.map */